/* SearchForm.css */

.colorful-box {
    background-color: #94abaf;
    /* Replace this with your desired colorful background */
    border-radius: 12px;
    padding: 20px;
    animation: fadeInUp 1s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}